html,body,ul,li,p{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
a{
	text-decoration: none;
}
li a {

	color:#666;
}
li a:visited{
	color:#666;
}
.clearfix:after {
	height: 0;
	content: "";
	display: block;
	clear: both;
}
/*文章页*/
.top_container {
	position: relative;
	width: 100%;
	height: 130px;
	background-size: 100% 100%;
	background-image: url();
}
.top_content {
	width: 1024px;
	margin: 0 auto;
}
.friend_link {
	padding: 5px;
	text-align: right;
}
.friend_link a {
	color: #333;
}
.wang_to_do {
	padding: 10px;
}
.container {
	width: 100%;
}
.content {
	width: 1024px;
	margin: 0 auto;
}
.content_bar {
	width: 1024px;
	height: 50px;
	margin: 0 auto;
	background: url(../images/top_bg.jpg) repeat-x;
	border-radius: 6px;
}
.content_bar ul {
	list-style: none;
}
.content_bar ul li {
	float: left;
	line-height: 50px;
	padding: 0 20px;
	font-weight: bold;
}
.content_bar ul li ul li{
	display:none;
}

.content_bar ul li a {
	color: #fff; 
	font-size: 16px;
}
.content_all {
	width: 1024px;
	margin-top: 20px;
}
.content_left {
	display: inline-block;
	float: left;
	width: 800px;
	margin-right: 18px;
	border: 1px solid #ddd;
	border-radius: 5px;
}
.content_left p {
	padding: 8px 0;
}
.message_padding {
	padding-left: 20px;
}
.new_local {
	float: right;
	padding-right: 20px;
	color: #333;
}
.artical {
	padding: 14px;
	height: auto;
}

.content_right {
	display: inline-block;
	float: left;
	width: 200px;
}
.right_title {
	width: 200px;
	height: 50px;
	text-indent: 20px;
	line-height: 50px;
	background: url(../images/top_bg.jpg) repeat-x;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #fff;
}
.right_list {
	padding: 10px;
	background-color: #f1f1f1;
}
.right_list dl {
	list-style: none;
}
.right_list dl dd{
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ddd;
	margin-left:0px;
}
.right_list dl dd a {
	color: #333;
}
.right_list dl dd a:hover {
	color: #888;
}
.foot {
	width: 1024px;
	margin: 20px auto;
	border: 1px solid #ddd;
}
.foot_top {
	width: 1024px;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ddd;
}
.top_left {
	float: left;
	width: 120px;
	height: 50px;
	text-align: center;
	background: url(../images/top_bg.jpg) repeat-x;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #fff; 
}
.top_right {
	float: right;
	padding-right: 20px;
}
.top_right select {
	width: 150px;
	height: 30px;
	margin-left: 10px;
}
.foot_content {
	margin-top: 15px;
}
.foot_content p {
	text-align: center;
	padding: 5px;
}
/*首页*/
.index_content_left {
	border: none;
}
.now_news {
	height: 100px;
	background-color: #f0f7fd;
}
.now_news img {
	vertical-align: top;
}
.new_title {
	display: inline-block;
	width: 35px;
	height: 35px;
	margin: 30px;
}
.new_list {
	margin-top: 20px;
}
.new_img {
	width: 450px;
	height: 300px;
	float: left;
}
.img_title{
	width: 100%;
	height: 25px;
	line-height: 25px;
	position: relative;
	z-index: 10;
	top: -30px;
	background: #333;
	text-indent: 1em;
	line-height: 25px;
	font-size: 14px;
	color: #fff;
}
.all_news {
	height: 300px;
	width: 350px;
	overflow: hidden;
	float: left;
}
.all_news ul {
	list-style: none;
}
.all_news ul li {
	padding: 9px 0 0 25px;
}
.all_news ul li a {
	color: #333;
}
.all_news ul li a:hover {
	color: #888;
}
.all_news ul li img{
	margin-right: 5px;
}
.all_new_ad {
	margin-top: 20px;
}
.ad {
	float: left;
	margin: 0 5px;
}
.ad_title {
	width: 390px;
	line-height: 27px;
}
.ad_name {
	padding: 0px 20px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: url(../images/top_bg.jpg) repeat-x;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #fff;
	float:left;
	width:110px;
	font-weight: bolder;
}
.ad_more {
	float: right;
	padding-right: 10px;
	padding-top:15px;
	
	font-size: 12px; 
}
.ad_more a{
	color:#000 !important;
}
.ad_content {
	position:relative;
	top: -2px;
	width: 388px;
	min-height: 250px;
	border-top: 1px solid #042688;
	border-bottom-right-radius: 8px;
	overflow: hidden;
	height:260px;
}
.ad_content ul {
	list-style: none;
}
.ad_content ul li {
	padding: 9px 0 0 10px;
}

.ad_content ul li img{
	margin-top: 3px;
}
.ad_content ul li a {
	color: #000;
}
.ad_content ul li a:hover {
	color: #888;
}
.built_county img {
	margin: 8px;
	float:left;
}
.all_beautiful_city {
	margin-top: 20px;
	width:100%;
	height:180px;
}
.beautiful_city {
	float: left;
	margin: 0 9px;
	width:180px;
	height:180px;
	border-radius: 10px;
}
.beautiful_city .title {
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: url(../images/top_bg.jpg) repeat-x ;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #fff;
	font-weight: bolder;
	margin-left: 1px;
	float: left;
}
.beautiful_city .content {
	position:relative;
	min-height: 130px;
	width: 178px;
	top: -1px;
	border-top: 1px solid #042688;
	overflow: hidden;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}
.beautiful_city .content p {
	padding: 0;
}
.beautiful_city .know_more {
	text-align: right;
	float: left;
	line-height: 30px;
	margin-left: 50px;
}
.beautiful_city .know_more a {
	color: #000;
	font-size: 12px;
}
.beautiful_city .know_more a:visited{
	color: #000;
}
.beautiful_city .know_more a:hover {
	color: #888;
}
.play_test {
	width: 200px;
	height: 150px;
	text-align: center;
	line-height: 75px;
	border-radius: 5px;
	background-color: #a40000;
	color: #fff;
}
.right_good_city {
	margin-top: 20px;
}
.right_good_city .title {
	width: 200px;
	height: 45px;
	line-height: 45px;
	text-align: left;
	text-indent: 20px;
	background: url(../images/top_bg.jpg) repeat-x;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #fff;
	font-weight: bolder;
}
.right_good_city .content {
	position:relative;
	min-height: 130px;
	width: 198px;
	top: -1px;
	border: 1px solid #042688;
	border-bottom-right-radius: 8px;
	overflow: hidden;
}
.right_good_city .content textarea {
	display: block;
	margin: 10px auto;
}
.right_good_city .content p {
	text-align: center;
}
.right_good_city ul li{
	list-style:none;
}
.two_access {
	margin-top: 20px;
}
.two_access span {
	display: inline-block;
	width: 190px;
	height: 30px;
	margin: 5px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	background:url(../images/top_bg.jpg) repeat-x;
}
.all_img {
	width: 1024px;
	height: 100px;
	line-height: 100px;
	margin: 0 auto;
	margin-top: 20px;
	border: 1px solid #042688;
	overflow: hidden;
}
.all_img img {
	margin: 10px 13px;
}
/*列表页*/
.right_list_margin {
	margin-right: 0;
	height: 685px;
}
.left_list {
	margin-right: 18px;
}
.all_advertist {
	background-color: #ddd;
	padding: 10px;
}
.font12 {
	font-size: 12px;
}
.color_333 {
	color: #333;
}
.all_list {
	font-size: 14px;
}
.all_list_first_p {
	background-color: #ddd;
}
.other_p {
	border-bottom: 1px dashed #ddd;
}
.all_list span {
	display: inline-block;
}
.span_index {
	width: 18%;
	text-align: center;
}
.span_content {
	width: 58%;
}
.span_content a{
	color: #333;
}
.span_content a:hover{
	color: #888;
}
.span_time {
	width: 18%;
	text-align: center;
}
.now_local{
	display: block;
	float: left;
}